.home-container {
    background-color: white;
    height: 90vh;
    width: 80vw;
    margin: 2rem auto -2rem;
    border-radius: 1rem;

    &--wrapper {
        display: flex;
        align-items: center;

        &__logo {


            img {
                width: 30px;

            }
        }

        .search-input {
            width: 100%;
            margin: 0 1rem;
            padding: 0.5rem;
            border: none;
            background-color: rgb(248, 239, 239);
            border-radius: 5rem;
            outline: none;
            text-indent: 1rem;
        }

        &__extra-features {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 20%;

        }
    }
}