.red {
  color: red;
}

.loading {
  text-align: center;
  font-size: 5rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.rotate {
  transform: rotate(360deg);
}