@import "../mixins/mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: #494949;
}


html {
  @media (max-width: 1400px) {
    font-size: 62.5%;
  }
}



body {
  background-color: #3c6fe1;
}